<h1>{{customer.name}}</h1>
<div>
  <h2>Email: {{customer.email}}</h2>
  <p>Address: {{customer.address}}</p>
  <p>Phone Number: {{customer.phoneNumber}}</p>
</div>
<a href="/admin/customers/{{customer._id}}/edit">Edit</a>