{{#if orders}}
  <table>
    <thead>
      <tr>
        <th>Customer Name</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders}}
        {{#each this.items}}
          <tr>
            
             <td>{{../userId.name}}</td>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td>{{this.quantity}}</td>
            <td>{{../status}}</td>
            <td>
              <a href="/admin/orders/{{../_id}}">View</a>
              <a href="/admin/orders/{{../_id}}/edit">Edit Status</a>
            </td>
          </tr>
        {{/each}}
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No orders found.</p>
{{/if}}