<h3>Products Page</h3>

{{#if products}}
<a href="/admin/admindash" class="btn btn-primary mb-3">Return to Dashboard</a>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <table class="table table-hover">
        <thead>
          <tr>
            <th >Name</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each products}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{price}}$</td>
            <td>
              <img src="{{this.imageUrl}}" alt="{{this.name}}" width="200" class="img-thumbnail">
            </td>
            <td>
              <a href="/admin/products/{{this._id}}" class="btn btn-primary">View</a>
              <a href="/admin/edit/{{this._id}}" class="btn btn-secondary">Edit</a>
              <form action="/admin/products/{{this._id}}?_method=DELETE" method="POST"
                class="d-inline-block">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{else}}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="alert alert-warning" role="alert">
        No products found.
      </div>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{{/if}}